<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos al Homenaje de los Heroes de la Programacion</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="/#">Inicio</a></li>
                <li>
                    Nuestros Heroes
                    <ul class="submenu">
                        <li><a href="/turing">Alan Turing</a></li>
                        <li><a href="/barnes-lee">Tim Barnes-Lee</a></li>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/clarke">Edith Clarck</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                    </ul>
                </li>
            </ul>
        </nav>>
    </header>
    <main>
        <section>
            <h1>Bienvenidos al Homenaje de los Heroes de la Programacion</h1>
            <h3>Te invitamos a que hagas un recorrido no solo sobre la historia de la programacion sino la vida de sus Madres y Padres para poder inspirarte a incursionar en el maravilloso mundo y el arte de Programar.</h3>
        </section>
    </main>   
</body>
</html>